<% if flash[:notice] %>
  <div style="margin: 10px 0px">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_with model: @recipe do |f|%>
<%= f.label 'Nome'%>
<%= f.text_field :name %>
<%= f.label 'Tipo de receita'%>
<%= f.collection_select :recipe_type_id, RecipeType.all, :id, :name %>
<%= f.label 'Culinária'%>
<%= f.collection_select :cuisine_id, Cuisine.all, :id, :name %>
<%= f.label 'Ingredientes'%>
<%= f.text_area :ingredientes %>
<%= f.label 'Modo de preparo'%>
<%= f.text_field :cook_method %>
<%= f.label 'Tempo de preparo'%>
<%= f.number_field :cook_time %>

<%= f.submit 'Salvar' %>
<% end %>