<h1>Registro de culinária</h1>

<% if flash[:notice] %>
  <div style="margin: 10px 0px">
    <%= flash[:notice] %>
  </div>
<% end %>
<%= form_with model: @cuisine do |f| %>
<div>
<%= f.label :name, 'Nome' %>
<%= f.text_field :name %>
</div>

<div>
  <%= f.submit 'Salvar' %>
</div>
<% end %>